USE [master]
GO
/****** Object:  Database [Bongdanews]    Script Date: 11-Nov-17 10:54:54 AM ******/
CREATE DATABASE [Bongdanews]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Bongdavn', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Bongdavn.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Bongdavn_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Bongdavn_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Bongdanews].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Bongdanews]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 11-Nov-17 10:54:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ownedBy] [int] NULL,
	[categoryName] [nvarchar](50) NOT NULL,
	[postId] [int] NULL,
	[description] [nvarchar](100) NULL,
	[status] [int] NOT NULL,
 CONSTRAINT [PK_Topic] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Comment]    Script Date: 11-Nov-17 10:54:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comment](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[postId] [int] NOT NULL,
	[responeTo] [int] NULL,
	[name] [nvarchar](50) NOT NULL,
	[comment] [nvarchar](1000) NOT NULL,
	[postedDay] [datetime] NOT NULL,
	[status] [int] NOT NULL,
 CONSTRAINT [PK_Comment] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MediaSource]    Script Date: 11-Nov-17 10:54:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MediaSource](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[postId] [int] NULL,
	[type] [nchar](30) NOT NULL,
	[path] [nchar](200) NULL,
	[uploadedTime] [datetime] NOT NULL,
	[status] [int] NOT NULL,
 CONSTRAINT [PK_MediaSource] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Post]    Script Date: 11-Nov-17 10:54:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Post](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](100) NOT NULL,
	[symbolicImage] [int] NULL,
	[postContent] [nvarchar](max) NULL,
	[openingParagraph] [nvarchar](4000) NULL,
	[createdDay] [datetime] NOT NULL,
	[viewNumber] [int] NOT NULL,
	[authorId] [int] NULL,
	[categoryId] [int] NULL,
	[status] [int] NOT NULL,
 CONSTRAINT [PK_Post] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PostHasTag]    Script Date: 11-Nov-17 10:54:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PostHasTag](
	[postId] [int] NOT NULL,
	[tagName] [nchar](30) NOT NULL,
 CONSTRAINT [PK_PostHasTag] PRIMARY KEY CLUSTERED 
(
	[postId] ASC,
	[tagName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PostHistory]    Script Date: 11-Nov-17 10:54:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PostHistory](
	[postId] [int] NOT NULL,
	[time] [datetime] NOT NULL,
	[action] [nchar](50) NOT NULL,
	[description] [nvarchar](200) NULL,
	[userId] [int] NOT NULL,
 CONSTRAINT [PK_PostHistory] PRIMARY KEY CLUSTERED 
(
	[postId] ASC,
	[time] ASC,
	[userId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Tag]    Script Date: 11-Nov-17 10:54:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tag](
	[tagName] [nchar](30) NOT NULL,
	[description] [nvarchar](50) NULL,
 CONSTRAINT [PK_Tag] PRIMARY KEY CLUSTERED 
(
	[tagName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[User]    Script Date: 11-Nov-17 10:54:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[User](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[password] [varchar](50) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[avatar] [int] NULL,
	[birthday] [datetime] NULL,
	[address] [nvarchar](50) NOT NULL,
	[identityCard] [nchar](15) NOT NULL,
	[phone] [nchar](15) NOT NULL,
	[mail] [nchar](50) NOT NULL,
	[sex] [nchar](10) NOT NULL,
	[role] [int] NOT NULL,
	[description] [nvarchar](500) NULL,
	[status] [int] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([id], [ownedBy], [categoryName], [postId], [description], [status]) VALUES (1, 5, N'Anh', NULL, N'', 1)
INSERT [dbo].[Category] ([id], [ownedBy], [categoryName], [postId], [description], [status]) VALUES (2, 5, N'Đức', NULL, N'', 3)
INSERT [dbo].[Category] ([id], [ownedBy], [categoryName], [postId], [description], [status]) VALUES (3, 5, N'Pháp', NULL, N'', 4)
SET IDENTITY_INSERT [dbo].[Category] OFF
SET IDENTITY_INSERT [dbo].[Comment] ON 

INSERT [dbo].[Comment] ([id], [postId], [responeTo], [name], [comment], [postedDay], [status]) VALUES (1, 25, NULL, N'Thành nè', N'Hay quá trời', CAST(N'2017-11-08 11:33:22.263' AS DateTime), 1)
INSERT [dbo].[Comment] ([id], [postId], [responeTo], [name], [comment], [postedDay], [status]) VALUES (2, 25, 1, N'Nam nè', N'Dỡ quá đi à', CAST(N'2017-11-08 11:34:01.833' AS DateTime), 1)
INSERT [dbo].[Comment] ([id], [postId], [responeTo], [name], [comment], [postedDay], [status]) VALUES (3, 25, NULL, N'Thành nữa nè', N'Hay quá trời again', CAST(N'2017-11-08 11:34:23.287' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Comment] OFF
SET IDENTITY_INSERT [dbo].[MediaSource] ON 

INSERT [dbo].[MediaSource] ([id], [postId], [type], [path], [uploadedTime], [status]) VALUES (1, 1, N'jpeg                          ', N'1/1.jpeg                                                                                                                                                                                                ', CAST(N'2017-10-27 10:56:41.697' AS DateTime), 1)
INSERT [dbo].[MediaSource] ([id], [postId], [type], [path], [uploadedTime], [status]) VALUES (2, 1, N'png                           ', N'1/2.png                                                                                                                                                                                                 ', CAST(N'2017-10-27 10:56:50.887' AS DateTime), 1)
INSERT [dbo].[MediaSource] ([id], [postId], [type], [path], [uploadedTime], [status]) VALUES (3, 2, N'jpeg                          ', N'2/3.jpeg                                                                                                                                                                                                ', CAST(N'2017-10-27 11:16:24.347' AS DateTime), 1)
GO
SET IDENTITY_INSERT [dbo].[MediaSource] OFF
SET IDENTITY_INSERT [dbo].[Post] ON 

SET IDENTITY_INSERT [dbo].[Post] OFF
INSERT [dbo].[PostHasTag] ([postId], [tagName]) VALUES (1, N'barc                          ')
INSERT [dbo].[PostHasTag] ([postId], [tagName]) VALUES (1, N'barca                         ')
INSERT [dbo].[PostHasTag] ([postId], [tagName]) VALUES (1, N'chealse                       ')
GO
INSERT [dbo].[Tag] ([tagName], [description]) VALUES (N'abramovich                    ', NULL)
INSERT [dbo].[Tag] ([tagName], [description]) VALUES (N'adramovich                    ', NULL)
INSERT [dbo].[Tag] ([tagName], [description]) VALUES (N'ancelotti                     ', NULL)
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([id], [password], [name], [avatar], [birthday], [address], [identityCard], [phone], [mail], [sex], [role], [description], [status]) VALUES (1, N'1', N'Thanh Nguyen', NULL, CAST(N'1997-01-01 00:00:00.000' AS DateTime), N'abc/xys', N'123456789      ', N'0909123456     ', N'admin@gmail.com                                   ', N'male      ', 0, N'De thuong', 1)
INSERT [dbo].[User] ([id], [password], [name], [avatar], [birthday], [address], [identityCard], [phone], [mail], [sex], [role], [description], [status]) VALUES (2, N'1', N'Nam Le', NULL, CAST(N'1997-02-02 00:00:00.000' AS DateTime), N'xyz/abc', N'789456123      ', N'0122123456     ', N'mod@gmail.com                                     ', N'male      ', 1, N'Chuyen gia di tre', 1)
INSERT [dbo].[User] ([id], [password], [name], [avatar], [birthday], [address], [identityCard], [phone], [mail], [sex], [role], [description], [status]) VALUES (3, N'12345', N'Minh Thu', NULL, CAST(N'1997-03-28 00:00:00.000' AS DateTime), N'afd/bcn', N'456123789      ', N'0981234567     ', N'colla@gmail.com                                   ', N'female    ', 2, N'Unknow', 1)
SET IDENTITY_INSERT [dbo].[User] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_User]    Script Date: 11-Nov-17 10:54:54 AM ******/
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [IX_User] UNIQUE NONCLUSTERED 
(
	[mail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Category]  WITH CHECK ADD  CONSTRAINT [FK_Category_Category] FOREIGN KEY([ownedBy])
REFERENCES [dbo].[Category] ([id])
GO
ALTER TABLE [dbo].[Category] CHECK CONSTRAINT [FK_Category_Category]
GO
ALTER TABLE [dbo].[Category]  WITH CHECK ADD  CONSTRAINT [FK_Category_Post] FOREIGN KEY([postId])
REFERENCES [dbo].[Post] ([id])
GO
ALTER TABLE [dbo].[Category] CHECK CONSTRAINT [FK_Category_Post]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_Comment_Comment] FOREIGN KEY([responeTo])
REFERENCES [dbo].[Comment] ([id])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_Comment_Comment]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_Comment_Post] FOREIGN KEY([postId])
REFERENCES [dbo].[Post] ([id])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_Comment_Post]
GO
ALTER TABLE [dbo].[MediaSource]  WITH CHECK ADD  CONSTRAINT [FK_MediaSource_Post] FOREIGN KEY([postId])
REFERENCES [dbo].[Post] ([id])
GO
ALTER TABLE [dbo].[MediaSource] CHECK CONSTRAINT [FK_MediaSource_Post]
GO
ALTER TABLE [dbo].[Post]  WITH CHECK ADD  CONSTRAINT [FK_Post_Category] FOREIGN KEY([categoryId])
REFERENCES [dbo].[Category] ([id])
GO
ALTER TABLE [dbo].[Post] CHECK CONSTRAINT [FK_Post_Category]
GO
ALTER TABLE [dbo].[Post]  WITH CHECK ADD  CONSTRAINT [FK_Post_MediaSource] FOREIGN KEY([symbolicImage])
REFERENCES [dbo].[MediaSource] ([id])
GO
ALTER TABLE [dbo].[Post] CHECK CONSTRAINT [FK_Post_MediaSource]
GO
ALTER TABLE [dbo].[Post]  WITH CHECK ADD  CONSTRAINT [FK_Post_User] FOREIGN KEY([authorId])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[Post] CHECK CONSTRAINT [FK_Post_User]
GO
ALTER TABLE [dbo].[PostHasTag]  WITH CHECK ADD  CONSTRAINT [FK_PostHasTag_Post] FOREIGN KEY([postId])
REFERENCES [dbo].[Post] ([id])
GO
ALTER TABLE [dbo].[PostHasTag] CHECK CONSTRAINT [FK_PostHasTag_Post]
GO
ALTER TABLE [dbo].[PostHasTag]  WITH CHECK ADD  CONSTRAINT [FK_PostHasTag_Tag] FOREIGN KEY([tagName])
REFERENCES [dbo].[Tag] ([tagName])
GO
ALTER TABLE [dbo].[PostHasTag] CHECK CONSTRAINT [FK_PostHasTag_Tag]
GO
ALTER TABLE [dbo].[PostHistory]  WITH CHECK ADD  CONSTRAINT [FK_PostHistory_Post] FOREIGN KEY([postId])
REFERENCES [dbo].[Post] ([id])
GO
ALTER TABLE [dbo].[PostHistory] CHECK CONSTRAINT [FK_PostHistory_Post]
GO
ALTER TABLE [dbo].[PostHistory]  WITH CHECK ADD  CONSTRAINT [FK_PostHistory_User] FOREIGN KEY([userId])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[PostHistory] CHECK CONSTRAINT [FK_PostHistory_User]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_MediaSource] FOREIGN KEY([avatar])
REFERENCES [dbo].[MediaSource] ([id])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_MediaSource]
GO
USE [master]
GO
