<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <display-name>Examples</display-name>
    <welcome-file-list>
        <welcome-file>Home</welcome-file>
    </welcome-file-list>
    <context-param>
        <param-name>SystemDataFolderDirectory</param-name>
        <param-value>D:\FPT_University\Studying\Lab331\BACK-END\CODE\NEW\IMAGES\</param-value>
    </context-param>
    <resource-ref>
        <description>Resource reference to javax.sql.Connection</description>
        <res-ref-name>BongdanewsDB</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
